.msg-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #2196f305;
    border: 1px solid #cfc9c9;
    border-radius: 15px;
    box-shadow: 0px 0px 16px 0px #96d6f8 inset;
    padding: 15px 0;
    margin-bottom: 25px;
    max-height: 365px;
    min-height: 100px;
    overflow-x: hidden;
    div {
        display: inherit;
        flex-direction: inherit;
        &::-webkit-scrollbar {
            width: 12px;
            /* ширина scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: #2196f31c;
            border-radius: 5px;
            /* цвет дорожки */
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2196f347;
            /* цвет плашки */
            border-radius: 20px;
            /* закругления плашки */
        }
    }
}