.group-container {
    width: 25%;
    border: 1px solid #62dafc;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 0px #96d6f8;
    .grp-list {
        padding: 5px;
        max-height: 450px;
        .list-item {
            display: inherit;
            flex-direction: inherit;
            &::-webkit-scrollbar {
                width: 12px;
                /* ширина scrollbar */
            }
            &::-webkit-scrollbar-track {
                background: #2196f31c;
                border-radius: 5px;
                /* цвет дорожки */
            }
            &::-webkit-scrollbar-thumb {
                background-color: #2196f347;
                /* цвет плашки */
                border-radius: 20px;
                /* закругления плашки */
            }
        }
    }
}