.grp-list {
    padding: 5px;
    max-height: inherit;
    div {
        display: inherit;
        flex-direction: inherit;
        &::-webkit-scrollbar {
            width: 12px;
            /* ширина scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: #2196f31c;
            border-radius: 5px;
            /* цвет дорожки */
        }
        &::-webkit-scrollbar-thumb {
            background-color: #2196f347;
            /* цвет плашки */
            border-radius: 20px;
            /* закругления плашки */
        }
    }
}